
/* about-panel */


.smk-about-panel {
    font-size: 14px;
    color: #234075;
    border: 0;
    background-color: transparent;   
    /**margin-left: 8px;
    margin-right: 8px;**/
    padding: 3px;
    
}

.smk-title {
    font-size: 12px;
    color: #234075;
}


.smk-about-description {
    font-size: 11px;
    color: #234075;
    padding: 3px;    
}