.smk-title {
    font-size: 14px;
    color: #234075;
}

.smk-description {
    font-size: 12px;
    font-style: italic;
    color: #234075;
}

.smk-command-row {
    color: #234075;
}

.smk-parameters {
    margin: 6px 0;
}

.smk-parameter {
    margin-top: 6px;
}

.smk-parameter label {
    font-size: 11px;
    color: #234075;
    display: block;
    width: calc( 100% - 8px );
}

.smk-parameter input, .smk-parameter select, .smk-parameter span {
    display: block;
    width: 100%;
    border: 0;
    font-size: 11px;
    color: #234075;
    padding: 2px;
    border-bottom: 1px solid #234075;
    background-color: white;
}

.smk-parameter input:focus, .smk-parameter select:focus, .smk-parameter span:focus {
    outline: 0;
    border-bottom: 1px dashed gray;
}
